.AboutMe {
  width: 100%;
  margin: auto;
  background-color: #e2e2e2;
}

.ParaAboutMe {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.CvTitle {
  color: #db5757;
}

.AboutMe a {
  color: #db5757;
  margin: 0;
}
