.container-about-me {
  width: 100%;
  margin: auto;
  background-color: #e2e2e2;
}

.container-para-about-me {
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}

.cv-title {
  color: #db5757;
}

.container-para-about-me a {
  color: #db5757;
  margin: 0;
}
