.MainAside {
  height: 320px;
  width: 40%;
  background-color: rgba(169, 55, 55, 0.7);
  border-radius: 10px;
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}

.MainAsidePicture {
  width: 30%;
}

.Name {
  text-align: center;
}

.Spec {
  text-align: center;
}

.SocialNetworks {
  margin-left: 20px;
}

.Contact {
  margin-top: 18px;
  text-align: center;
  color: black;
}

.ProfilPicture {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 25px;
}

.ImgProfilPicture {
  width: 100%;
  border-radius: 15px;
  border: solid 2px #fff;
}

.LinksAside {
  color: #fff;
  text-decoration: none;
}

h1 {
  color: #fff;
}

hr {
  width: 80%;
  color: #fff;
}

.MainAside p {
  margin: 0;
}
