.container-aside {
  height: 35%;
  width: 40%;
  background-color: rgba(169, 55, 55, 0.7);
  border-radius: 10px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 9px 15px rgba(30, 30, 30, 0.5);
}

.container-aside h2 {
  margin-bottom: 0;
  margin-top: 0;
}

.container-aside a.fa.fa {
  font-size: 40px;
}

.container-aside a.fa.fa:hover {
  font-size: 35px;
  transition-duration: 0.2s;
}

.container-aside a.fa.fa-linkedin {
  margin-right: 20px;
}

.Name {
  text-align: center;
}

.container-aside-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.Spec {
  text-align: center;
}

.social-networks {
  display: flex;
  justify-content: center;
}

.contact {
  margin-top: 18px;
  text-align: center;
  color: black;
}

.container-profil-picture {
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 0;
  background: url('../img/profilpicture.jpg') no-repeat center;
  background-size: auto auto;
  background-size: cover;
  position: relative;
}

.link-aside {
  color: #fff;
  text-decoration: none;
}

.link-aside:hover {
  color: #fff;
  text-decoration: none;
}

h1 {
  color: #fff;
  margin: 0;
}

hr {
  width: 100%;
  color: #fff;
}

.container-aside p {
  margin: 0;
}

@media screen and (max-width: 610px) {
  .container-aside {
    height: 35%;
    width: 100%;
    background-color: rgba(169, 55, 55, 0.7);
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 15px;
    margin: 0;
  }

  .container-aside h2 {
    font-size: 13px;
    margin: 0;
  }

  .container-aside p {
    font-size: 13px;
  }

  .profil-picture {
    text-align: center;
    padding-top: 5px;
    margin-bottom: 5px;
  }

  .container-aside a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1290px) {
  .container-aside {
    margin-top: 80px;
  }

  h1 {
    font-size: 15px;
  }

  .container-aside h2 {
    font-size: 17px;
  }

  .container-aside p {
    font-size: 17px;
  }

  .container-aside a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1160px) {
  .container-aside {
    height: 50%;
    width: 50%;
    background-color: rgba(169, 55, 55, 0.7);
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .container-profil-picture {
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 0;
    background: url('../img/profilpicture.jpg') no-repeat center;
    background-size: auto auto;
    background-size: cover;
    position: relative;
  }

  h1 {
    font-size: 15px;
    margin: 0;
  }

  .container-aside h2 {
    font-size: 13px;
    margin: 0;
  }

  .container-aside p {
    font-size: 13px;
  }

  .container-aside-description {
    width: 100%;
    margin: auto;
  }

  .container-aside a {
    font-size: 15px;
  }
}
