.container-citation-bas {
  padding-top: 0;
  background: url('../../src/img/pc-1207886_1920.jpg') no-repeat center fixed;
  background-size: cover;
  height: 300px;
  position: relative;
}

.layer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-para-ce-site {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title-ce-site {
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.container-citation-bas p {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.container-citation-bas .contacter {
  color: #db5757;
}

@media screen and (max-width: 1860px) {
  .container-para-ce-site {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 938px) {
  .container-para-ce-site {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 751px) {
  .container-para-ce-site {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .title-ce-site {
    margin-top: 15px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 747px) {
  .container-para-ce-site {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .title-ce-site {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 25px;
  }

  .container-citation-bas p {
    font-size: 25px;
  }
}

@media screen and (max-width: 668px) {
  .container-citation-bas {
    background-attachment: scroll !important;
  }
}
