.CeSite {
  padding-top: 0;
  background: url('../../src/img/pc-1207886_1920.jpg') no-repeat center;
  background-size: cover;
  height: 300px;
  position: relative;
}

.layer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ParaCeSite {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.TitleCeSite {
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.CeSite p {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.CeSite .contacter {
  color: #db5757;
}

@media screen and (max-width: 1860px) {
  .ParaCeSite {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 938px) {
  .ParaCeSite {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 751px) {
  .ParaCeSite {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .TitleCeSite {
    margin-top: 15px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 747px) {
  .ParaCeSite {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .TitleCeSite {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 25px;
  }

  .CeSite p {
    font-size: 25px;
  }
}
