.background_img_cv {
  background: url('../../src/img/web-design-2906159_1920.jpg') no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* @media screen and (max-width: 1280px) {
  .background_img_cv {
    height: 400px;
  }
} */

@media screen and (max-width: 668px) {

   .background_img_cv {
    background-attachment: scroll !important;
  }
}
