.Cv {
  width: 80%;
  margin: auto;
}

.CvTitle {
  color: #d86a39;
  margin-top: 80px;
}

.entering {
  opacity: 0;
  height: 0;
}

.entered {
  opacity: 1;
  height: 750px;
  transition: all ease-in-out 1s;
}

.exiting {
  height: 750px;
  opacity: 1;
}

.exited {
  height: 10px;
  opacity: 0;
  transition: height ease-in 1s;
  transition: opacity ease-in 3s;
}

