.BlockFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  color: #fff;
  background-color: #a93737;
  text-align: center;
  margin: 0;
}

.BlockFooter p {
  font-size: 0.8em;
  margin-bottom: 0;
}
