.container-footer-low {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  color: #fff;
  background-color: #a93737;
  text-align: center;
  margin: 0;
}

.container-footer-low p {
  font-size: 0.8em;
  margin-top: 40px;
  margin-bottom: 0;
}

.social-network {
  font-size: 2em;
  width: 10%;
  margin: auto;
  display: flex;
  justify-content: center;
}

a.fa.fa-linkedin {
  color: #fff;
  speak: none;
  width: 20px;
  height: 20px;
}

a.fa.fa-github {
  color: #fff;
  speak: none;
  width: 20px;
  height: 20px;
}

a.fa.fa:hover {
  font-size: 30px;
  transition-duration: 0.2s;
}

