.container-footer {
  height: 500px;
  background-color: #e2e2e2;
}

.footer-title {
  color: #db5757;
  height: 50px;
  line-height: 50px;
  background-color: #dcdcdc;
  text-align: center;
  margin-bottom: 30px;
}

.footer-title h2 {
  margin: 0;
}

.container-form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form {
  width: 660px;
}

.status-message {
  margin-top: 80px;
}

.container-contact {
  height: 239px;
  padding-top: 50px;
  padding-left: 50px;
}

.container-contact a {
  color: #db5757;
  margin-left: 0;
}

@media screen and (max-width: 970px) {
  .container-footer {
    height: 800px;
  }

  .container-form-footer {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
  }

  .container-contact {
    height: 239px;
    padding-top: 180px;
    padding-left: 0;
    align-self: flex-start;
  }

  .footer-tel a {
    font-size: 20px;
  }

  .container-form {
    width: 100%;
  }
}
