.FooterContact {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
  margin-left: 50px;
}

p {
  margin-top: 0;
}

a {
  color: #fff;
  margin-left: 0;
}
