form {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 25px;
  width: 400px;
  height: 200px;
  padding: 30px;
}

label {
  display: block;
  position: relative;
  left: 0;
  color: #db5757;
  font-size: 16px;
  padding-bottom: 10px;
  z-index: 1;
  transition: all 0.3s ease;
}

input {
  display: block;
  position: relative;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid #a93737;
  width: 100%;
  font-size: 16px;
  z-index: 2;
  margin-bottom: 20px;
  height: 30px;
}

input:focus,
input:valid {
  outline: none;
  border-bottom: 1px solid #a93737;
}

