form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 25px;
  height: 250px;
}

.ContainerFormFooter {
  display: flex;
  justify-content: space-between;
}

.ContainerInput {
  margin-right: 50px;
}

.Description {
  height: 150px;
}

label {
  display: block;
  position: relative;
  left: 0;
  color: #db5757;
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 20px;
  z-index: 1;
  transition: all 0.3s ease;
}

input {
  width: 300px;
}

textarea {
  width: 300px;
  outline: none;
}

input,
textarea {
  display: block;
  position: relative;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid #a93737;
  font-size: 16px;
  z-index: 2;
}

input:focus,
input:valid {
  outline: none;
  border-bottom: 1px solid #a93737;
}

button {
  margin-top: 10px;
}

@media screen and (max-width: 970px) {
  .ContainerFormFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ContainerInput {
    margin-right: 0;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  label {
    padding-top: 5px;
  }
}

