.container-ho {
  display: flex;
}

.container-img {
  width: 50%;
  padding-top: 0;
  background: url('../img/woncerts-1150042_1920.jpg') no-repeat center;
  background-size: cover;
  position: relative;
}

.container-content-ho {
  width: 50%;
  padding-top: 0;
}

.content-ho {
  padding-left: 20px;
}

.title-ho {
  color: #db5757;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .container-ho {
    flex-direction: column-reverse;
    display: flex;
    padding-top: 80px;
  }

  .container-img {
    width: 100%;
    padding-top: 0;
    background: url('../img/woncerts-1150042_1920.jpg') no-repeat center;
    background-size: cover;
    height: 300px;
    position: relative;
  }

  .container-content-ho {
    width: 100%;
    padding-top: 0;
  }
}
