.background_img {
  background: url('../../src/img/laptop-iphone-notebook-computer-macbook-work-1046491-pxhere.com.jpg') no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .background_img {
    height: 650px;
  }
}
