.container-kdo {
  display: flex;
}

.container-img-kdo {
  width: 50%;
  padding-top: 0;
  background: url('../img/red-wine-1004255_1920.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  box-shadow: 0 9px 15px rgba(30, 30, 30, 0.5);
}

.container-content-kdo {
  width: 50%;
  padding-top: 0;
  text-align: right;
  box-shadow: 0 9px 15px rgba(30, 30, 30, 0.5);
}

.content-kdo {
  padding-right: 20px;
}

.kdovino-title {
  color: #db5757;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .container-kdo {
    flex-direction: column;
    display: flex;
    padding-top: 80px;
  }

  .container-img-kdo {
    width: 100%;
    padding-top: 0;
    background: url('../img/red-wine-1004255_1920.jpg') no-repeat center;
    background-size: cover;
    height: 300px;
    position: relative;
  }

  .container-content-kdo {
    width: 100%;
    padding-top: 0;
    text-align: left;
  }

  .content-kdo {
    padding-left: 20px;
  }
}
