.Kdovino {
  margin-top: 80px;
}

.Kdo {
  width: 100%;
  margin: auto;
}

.DescKdovi {
  display: flex;
  justify-content: space-around;
}

.ImgKdo {
  width: 100%;
  height: auto;
}

.ImgVin {
  width: 100%;
  height: auto;
}

.KdovinoTitle {
  color: #db5757;
  margin: 0;
}

ul {
  font-size: 18px;
}
