.ContainerKdo {
  display: flex;
}

.ContainerImgKdo {
  width: 50%;
  padding-top: 0;
  background: url('../img/red-wine-1004255_1920.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  box-shadow: 0 9px 15px rgba(30, 30, 30, 0.5);
}

.ContainerDescKdo {
  width: 50%;
  padding-top: 0;
  text-align: right;
  box-shadow: 0 9px 15px rgba(30, 30, 30, 0.5);
}

.ContentKdo {
  padding-right: 20px;
}

.KdovinoTitle {
  color: #db5757;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .ContainerKdo {
    flex-direction: column;
    display: flex;
    padding-top: 80px;
  }

  .ContainerImgKdo {
    width: 100%;
    padding-top: 0;
    background: url('../img/red-wine-1004255_1920.jpg') no-repeat center;
    background-size: cover;
    height: 300px;
    position: relative;
  }

  .ContainerDescKdo {
    width: 100%;
    padding-top: 0;
    text-align: left;
  }

  .ContentKdo {
    padding-left: 20px;
  }
}
