.MySkills {
  /* top: 80px; */
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  background-color: #fff;
}

.SkillsTitle {
  color: #db5757;
  margin: 20px 0 20px 0;
}

.Skils {
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 1.3em;
}
