.MySkills {
  top: 80px;
  width: 80%;
  margin: auto;
}

.SkillsTitle {
  color: #f44336;
  margin-top: 80px;
}

.Skils {
  display: flex;
  justify-content: space-between;
}

ul {
  padding-left: 0%;
}

li {
  list-style: none;
}
