$color-deep-blue: #a93737;

html,
body {
  font-family: sans-serif;
  height: calc(100% + 150px);
  margin: 0;
  padding: 0;
}

.navbar-default {
  background-color: #a93737;
}

a {
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  margin: 0 10px;
  text-decoration: none;
}

.navbar-default,
.navbar-nav li a {
  color: #fff;
  font-size: 15px;
  font-weight: lighter;
}

li {
  list-style: none;
}

.navbar {
  border: 0;
  border-bottom: solid #a93737;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  left: 0;
}

.navbar-brand {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
}

/*
 * Header
 */

.header {
  border: 0;
  border-bottom: solid #a93737;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 35px;
}

.description {
  font-size: 20px;
  margin-top: 3px;
}

.links {
  margin-top: 25px;
}

/*
 * Content
 */

.content {
  margin-top: 30px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 1.95;
}

