.Wcs {
  margin-top: 80px;
}

.WildCodeSchool {
  width: 80%;
  margin: auto;
}

.WCSTitle {
  color: #db5757;
  margin: 0;
}

p {
  margin: 0;
}

h3 {
  margin: 0 0 20px 0;
}

.DeroulementFormation {
  display: flex;
  justify-content: space-between;
}

.Project {
  width: 33.33%;
  padding: 20px;
}

h4 {
  font-size: 1.2em;
}

