.Wcs {
  margin-top: 80px;
  text-align: center;
}

.WildCodeSchool,
.EndWcs {
  width: 80%;
  margin: auto;
}

.WCSTitle {
  color: #db5757;
  margin: 0;
}

.DeroulFormation {
  text-align: center;
}

p {
  margin: 0;
}

h3 {
  margin: 20px 0 20px 0;
}

.Project {
  padding: 20px;
}

h4 {
  font-size: 1.2em;
}

